# Ignore everything...
*

# Except flashcards.py and .gitignore, and...
!flashcards.py
!.gitignore

# ...the languages directory and specific language files
!languages/
languages/*

!languages/en_US.json
!languages/fr_FR.json
!languages/nl_NL.json
!languages/tr_TR.json